name: Flat

permissions:
  contents: write

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x

      - name: Check out repo
        uses: actions/checkout@v2

      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://openapi.twse.com.tw/v1/opendata/t187ap04_L
          downloaded_filename: data/t187ap04_L.json

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Convert JSON to CSV
        run: python fetch_t187ap04_L.py --input data/t187ap04_L.json --output data/t187ap04_L.csv
